
body{
    font-family: 'Yomogi', cursive;
    background-color: pink;
}


/* aba de mais informações*/
    .info{
        background-color: aquamarine;
        border-bottom-right-radius: 35%;
        border-bottom-left-radius: 35%;
        width: 4%;
        height: 4%;
        margin-top: -3.5%;
        margin-right: 1%;
        text-align: center;
        font-size: 50%;
        float: right;
    }
    .info:hover{
        background-color: aquamarine;
        border-bottom-right-radius: 27%;
        border-bottom-left-radius: 27%;
        height: 100px;
    }
    .info:hover h1{
        opacity: 0;
    }
/*~~~~fim da aba de mais informações*/
          
            
/* tela*/
    .box {
        background-color: #ffffff85;
        width: 90%;
        height: 80%;
        margin: auto;
        padding-top: 18%;
        margin-top: 3%;
    }
/*~~~~fim tela*/
                
                
/* botões principais*/
    .buttonsgrupo {
        margin-top: 10%;    
        display: flex;
        justify-content: center;
    } 
                
    .hist, .play, .comojogar{
        float: left;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 4%;
    } 

    button{
        background-color: aquamarine;
        width: 210px;
        height: 70px;
        border-radius: 40px;
        border-style: none;
        box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.897);

        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 200%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px rgba(255, 4, 138, 0.89);
    }
    button:hover{
        background-color: pink;
        border-style: none;
        box-shadow: inset 0 0 1em rgb(218, 162, 172);
                    
        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 200%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px rgba(255, 4, 138, 0.89);
                    
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }
/*~~~~fim botões principais*/

            

/* rodapé*/
    .footer{
        font-size: 80%;
        margin-top:2%;
        line-height: 2px;
        text-align: center;
    }
/*~~~~fim rodapé*/

