body{
    font-family: 'Yomogi', cursive;
    background-color: #ffc0cb;
}

    /* voltar*/

        #voltar{
            background-color: #fab1bd;
            border-bottom-right-radius: 40%;
            text-align: center;
            border-style: none;
            text-align: center;
            width: 50px;
            height: 40px;
            color: black;
            font-size: 30px;
            font-weight: bold;
            box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.144);
            transition: .2s;
        }
        #voltar:hover{
            background-color: #7fffd4;
        }
    /*~~~~ fim voltar*/

    /*conteudo*/
        h1{
            font-family: 'Londrina Shadow', cursive;
            font-weight: bold;
            font-size: 40px; 
            color: #ff0080e3;
            text-shadow: 2px 2px 1px white;
        }
        p{
            top: 4px;
            line-height: 3px;
        }
        h2{
            margin-top: 5px;
            color: #ff0080e3;
        }
        h3{
            margin-top: 5px;
            color: #ff0080e3;
        }
        h1,h2,h3,p{
            text-align: center;
        }

        .texto{
            position: absolute;
            width: 96%;
            top: 20%;
            bottom: 20%;
            margin-left: 2%;
            margin-right: 2%;
        }
    /*~~~~fim do conteudo*/
    
    /*jogar*/
    #jogar{
        
        background-color: #ffc0cb;
        box-shadow: inset 0 0 1em rgb(255, 199, 208);
        width: 210px;
        height: 100px;
        border-radius: 40px;
        border-style: none;
        margin-left: 44%;
        margin-top: 2%;
        margin-bottom: 2%;

        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 200%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px #ff048ae3;
    }
    #jogar:hover{
        background-color: #7fffd4;
        box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.897);
                    
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    /*~~~~ fim jogar*/
    #contato{
        
        background-color: #ffc0cb;
        box-shadow: inset 0 0 1em rgb(255, 199, 208);
        width: 210px;
        height: 70px;
        border-radius: 40px;
        border-style: none;
        margin-left: 44%;
        margin-top: 2%;
        margin-bottom: 2%;

        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 200%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px #ff048ae3;
    }
    #contato:hover{
        background-color: #7fffd4;
        box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.897);
                    
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    /* tela*/
        .box {
            background-color: #ffffff85;
            width: 90%;
            height: 80%;
            display: block;
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 25%;
            margin-top: 2%;
            margin-bottom: 5%;
            position: absolute;
        }
    /* fim tela*/
    .contatos{
        margin-left: 40%;
    }
    /* rodapé*/
        .footer{
            font-size: 80%;
            margin-top: 75%;
            line-height: 2px;
            text-align: center;
        }
    /*~~~~ fim rodapé*/