body{
    font-family: 'Yomogi', cursive;
    background-color: #ffc0cb;
}
.container{
    position: relative;
}

/* voltar*/

.home{
    margin-bottom: -50px;
}
#voltar{
    background-color: #fab1bd;
    border-bottom-right-radius: 40%;
    text-align: center;
    border-style: none;
    text-align: center;
    width: 50px;
    height: 40px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.144);
    transition: .2s;
}
#voltar:hover{
    background-color: #7fffd4;
}
/*~~~~ fim voltar*/
        
/* tela*/
#fundo { 
    background-color: #ffffff85;
    width: 90%;
    height: 1000%;
    margin: auto;
    padding-top: 40%;
    margin-top: 3%;
    position: relative;
}
#imagemFundo{
    position: absolute;
    width: 90%;
    height: 99.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    left: 5%;
}

#personagens{
    position: relative;
    top: 50px;

}

#personagemEsquerda{
    position: absolute;
    width: 32%;
    bottom: 0%;

 
}
#personagemDireita{
    position: absolute;
    width: 30%;
    bottom: 0%;
}
/*~~~~ fim tela*/

/*dialogo*/   
#botaoNext{
    background-color: rgba(127, 255, 212, 0.322);
    box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.335);
    width: 10%;
    height: 25px;
    border-radius: 40px;
    border-style: none;
    float:  right;
    margin-right: 4%;
    

    font-family: 'Yomogi', cursive;
    font-weight:bold;
    font-size: 100%;
    text-align: center;
    color: black;
}
#botaoNext:hover{
    background-color: #ffc0cb;
    box-shadow: inset 0 0 1em rgb(218, 162, 172);
}

#caixaDeDialogo{
    border-radius: 30px;
    text-align: center;
    width: 20%;
    height: 30%;
    position: absolute;
    left: 40%;
    margin-top: 10%;
}
#dialogo{
    background-color: white;
    box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    padding-bottom: 9%;
    padding-left: 2%;
    padding-right: 2%;
}

/*~~~~fim dialogo*/
            
/* botões principais*/
li{
    list-style: none;
}

.buttonsgrupo {
    margin-top: 10%;    
    display: flex;
    justify-content: center;

} 

#opcoes{
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
}
#button1{
    padding-bottom: 2px;
}

#opcao1, #opcao2{
    background-color: rgba(127, 255, 212, 0.322);
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border-style: none;
    box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.335);

    font-family: 'Yomogi', cursive;
    font-weight:bold;
    font-size: 100%;
    text-align: center;
    color: black;
    position: relative;
}
#opcao1:hover, #opcao2:hover{
    background-color: #ffc0cb;
    box-shadow: inset 0 0 1em rgb(218, 162, 172);
                
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.0);
    }
/*~~~~fim botões principais*/
        

/* rodapé*/
.footer{
    font-size: 80%;
    margin-top:1%;
    line-height: 2px;
    text-align: center;
}
/*~~~~fim rodapé*/
