
    body{
        font-family: 'Yomogi', cursive;
        background-color: pink;
    }
    .container{
        position: relative;
    }
    
    #caixaDeDialogo{
        border-radius: 30px;
        text-align: center;
        width: 20%;
        height: 30%;

        position: relative;
        top: 15%;
        left: 40%;
        margin-bottom: 100%;
    }
    #dialogo{
        background-color: white;
        box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        text-align: center;
        display: block;
        position: relative;
        top: 5%;
    }

/* aba de mais informações*/
    .info{
        background-color: aquamarine;
        border-bottom-right-radius: 35%;
        border-bottom-left-radius: 35%;
        width: 4%;
        height: 4%;
        margin-top: -3.5%;
        margin-right: 1%;
        text-align: center;
        font-size: 50%;
        float: right;
    }
    .info:hover{
        background-color: aquamarine;
        border-bottom-right-radius: 27%;
        border-bottom-left-radius: 27%;
        height: 100px;
    }
    .info:hover h1{
        opacity: 0;
    }
/*~~~~fim da aba de mais informações*/
          
            
/* tela*/
    #fundo { 
        background-color: #ffffff85;
        width: 90%;
        height: 80%;
        margin: auto;
        display: block-size;
        padding-top: 40%;
        margin-top: 3%;

    }
    #imagemFundo{
        position: absolute;
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
/*~~~~ fim tela*/

/*dialogo*/   
    #botaoNext{
        background-color: rgba(127, 255, 212, 0.322);
        box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.335);
        border-radius: 10px;
        border-style: none;
        width: 100%;
        height: 50px;
        margin-top: 100%;
        float: right;
    }
    #botaoNext:hover{
        background-color: #ffc0cb;
        box-shadow: inset 0 0 1em rgb(218, 162, 172);
        border-radius: 10px;
        border-style: none;
        width: 100%;
        height: 50px;
        margin-top: 100%;
        float: right;
    }
/*~~~~fim dialogo*/
                
/* botões principais*/
    li{
        list-style: none;   
    }

    .buttonsgrupo {
        margin-top: 10%;    
        display: flex;
        justify-content: center;
    } 

    #opcoes{
        padding-left: 0%;
        padding-right: 0%;
    }
    #button1{
        padding-bottom: 2px;
    }

    #opcao1, #opcao2{
        background-color: rgba(127, 255, 212, 0.322);
        width: 100%;
        height: 50px;
        border-radius: 40px;
        border-style: none;
        box-shadow: inset 0 0 1em rgba(81, 206, 164, 0.335);

        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 100%;
        text-align: center;
        color: black;
    }
    #opcao1:hover, #opcao2:hover{
        background-color: #ffc0cb;
        border-style: none;
        box-shadow: inset 0 0 1em rgb(218, 162, 172);
                    
        font-family: 'Yomogi', cursive;
        font-weight:bold;
        font-size: 100%;
        text-align: center;
        color: black;
                    
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.0);
        }
/*~~~~fim botões principais*/
            

/* rodapé*/
    .footer{
        font-size: 80%;
        margin-top:2%;
        line-height: 2px;
        text-align: center;
    }
/*~~~~fim rodapé*/

